body, h1, p{
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

html {
font-family: 'Lato', sans-serif;
}

.header_bg{
    background-color: #222; 
    height: 75px;
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 1140px;

}
.main_section_bg{
    background-color: #F1E4E6;; 
    height: 764px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main_section{
    width: 1140px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
}

 .main_bdr_txt{
    width: 420px;
    height: 93.099px;
    margin-left: 63.62px;
    display: flex;
    align-items: center;
}
.text_lft_bd{
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
}
.main_text{
    margin-left: 12px;
   
}
.main_text1{
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.main_text2{
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.main_text3{
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ch_op_bg{
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;

}

.choose_option{
    width: 1140px;
    margin-top: 65px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:  2fr;
    
}

.choose_menu{
    position: relative;
    text-align: center;
}
.choose_menu img{ 
    width: 100%;
    
}

.choose_menu.after {
   background: rgba(33, 22, 22, 0.70);
   background: lightgray 50% / cover no-repeat;
   width: 100%;
   height: 100%;
}

.choose_menu{ 
    filter: brightness(60%);

}

.op4{
    grid-column: 1/4;
}

.ch_mn_text1{
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ch_mn_text2{
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ch_mn{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.ch_mn1{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.middle_h1{
    margin-top: 96px;
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.middle_text{
    text-align: center;
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.shop_items_bg{
    display: flex;
    justify-content: center;
    align-items: center;

}

.shop_items{
    height: 1192px;
    width: 1140px;
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr) ;
    gap: 30px;
}
    
.sh_item_frmt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background:#F8F8F8;
    padding: 24.35px 28.8px 20px 16.46px
    
}
.t1_frmt{
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}
.t2_frmt{
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.t3_frmt{
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.button_bottom{
    margin-top: 139px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button_bott{
    width: 212px;
    height: 48px;
    border-color: #FF6A6A;
    background: #FFF;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

@media screen and (max-width: 1439px) {

    .header_bg{
        height: 74px;
    }
    .header{
        max-width: 100%;
        margin-left: 32px;
        margin-right: 40px;
    }
    .main_section_bg{
        height: 367.567px;
        max-width: 100%;
    }

    .main_text1{
        color: #222;
        font-family: Lato;
        font-size: 44px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }
    .main_text2{
        color: #222;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .main_text3{
        color: #F16D7F;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .main_bdr_txt{
        margin-left: 39px;
        width: 320px;
    }
    .main_section{
        max-width: 1439px;
    }
    .choose_option{
        max-width: 100%;
        margin-left: 16px;
        margin-right: 16px;
        gap: 19px;
    }
    .shop_items{
        max-width: 100%;
        margin-top: 48px;
        margin-left: 16px;
        margin-right: 16px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr) ;
        gap: 16px;
        height: 1950px;
    }
    .sh_item{
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

}

@media screen and (max-width: 767px) {
    .main_picture{
        display: none;
    }

    .main_section{
        width: 1140px;
        display: flex;
        justify-content: center;
        align-items: center;    
        
    }

    .choose_option{
        max-width: 100%;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 65px;
        display: flex;
        gap: 32px;
        flex-direction: column;
     
    }

    .shop_items{
        max-width: 100%;
        margin-top: 48px;
        margin-left: 16px;
        margin-right: 16px;
        display: flex;
        gap: 16px;
        flex-direction: column;
        height: 3400px;
    }


}

