@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

html {
font-family: 'Lato', sans-serif;
}

body, h1, p{
    margin: 0;
}

.header_bg{
    background-color: #222; 
    height: 75px;
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 1140px;
}

.header_menu{
    position: relative;
} 

.header_menu::after{
    position: absolute;
    content: '5';
    top: 0;
    right: 0;
    width:  19px;
    height: 19px;
    background-color: #F16D7F;
    border-radius: 50%;
    display: flex;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: center;
    align-items: center;
}
.header_bg{
    position: relative;
}

.menu_main{
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menu_sex{
    color: #F16D7F;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.menu_simple{
    color: #6F6E6E;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 21.5px;
}

.main_section_bg{
    background-color: #F1E4E6;; 
    height: 764px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.menu_list{
    text-decoration: none;
    width: 232px;
    height: 634px;
    background: #FFF;
    display: flex;
    top: 55px;
    right: 0px;
    position:absolute;
    z-index: 2;
    display: none;
    
}
.header_menu:hover .menu_list{
    display: block;
}


.men_u{
    display: flex;
    flex-direction: column;
    gap:11px;
    padding: 32px 32px 32px 32px;
    list-style-type: none;
}
.main_section{
    width: 1140px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
}

 .main_bdr_txt{
    width: 420px;
    height: 93.099px;
    margin-left: 63.62px;
    display: flex;
    align-items: center;
}
.text_lft_bd{
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
}
.main_text{
    margin-left: 12px;
   
}
.main_text1{
    color: #222;
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.main_text2{
    color: #222;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.main_text3{
    color: #F16D7F;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ch_op_bg{
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;

}

.choose_option{
    width: 1140px;
    margin-top: 65px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:  2fr;
    
}

.choose_menu{
    position: relative;
    text-align: center;
}
.choose_menu img{ 
    width: 100%;
    
}

.choose_menu.after {
   background: rgba(33, 22, 22, 0.70);
   background: lightgray 50% / cover no-repeat;
   width: 100%;
   height: 100%;
}

.choose_menu{ 
    filter: brightness(60%);

}

.op4{
    grid-column: 1/4;
}

.ch_mn_text1{
    color: #FFF;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ch_mn_text2{
    color: #F16D7F;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ch_mn{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.ch_mn1{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.middle_h1{
    margin-top: 96px;
    color: #222;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.middle_text{
    text-align: center;
    color: #9F9F9F;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.shop_items_bg{
    display: flex;
    justify-content: center;
    align-items: center;

}

.shop_items{
    height: 1192px;
    width: 1140px;
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr) ;
    gap: 30px;
}
    
.sh_item_frmt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background:#F8F8F8;
    padding: 24.35px 28.8px 20px 16.46px;
    gap:16px;
    
}

.item2{
    position: relative;
}
.add_to_cart{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.50);
    opacity: 0;
}
.cart_but{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 139px;
    height: 44px;
    font-size: 14px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    background-image: url(./img1/cart.svg);
    background-repeat: no-repeat;
    background-position: left;

}

.sh_item2:hover{
    opacity: 0.3;
    
}
.add_to_cart:hover{
    opacity: 1;
    
}


.t1_frmt{
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}
.t2_frmt{
    color: #5D5D5D;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.t3_frmt{
    color: #F16D7F;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.button_bottom{
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button_bott{
    width: 212px;
    height: 48px;
    border-color: #FF6A6A;
    background: #FFF;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.button_bott:hover{
    color:#FFF;
    background: #FF6A6A;
}
.delivery_bg{
    margin-top: 95px;
    background-color: #222224; 
    height: 371px;
    display: flex;
    justify-content: center;
    

}

.ch_deliv{
    width: 1140px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
     
}

.ch_del {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.ch_del_logo{
    margin-top: 103px;
    
}
.deliv_text{
    margin-top: 28.07px;
    color: #FBFBFB;
    font-family: 'Lato', sans-serif;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.deliv_txt{
    margin-top: 16px;
    color: #FBFBFB;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.subscribe_bg{
    position: relative;
    height: 448px;
    display: flex;
    justify-content: center;
}

.subscribe_bg::before{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-image: url(./img1/Suscr_img.svg);
    background: url(./img1/Suscr_img.svg), lightgray 0px -169px / 100% 246.875% no-repeat;
    opacity: 0.7;
    z-index: 1;

}


.subscribe_sec{
    width: 1140px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    z-index: 2;
    
}
.subsc_opt1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sumbsc_img{
    margin-top: 97px;
}
.sub_opt1_txt{
    margin-top: 30px;
    width: 360px;
    color: #222224;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.sub_opt2_text{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub_opt2_txt1{
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
}
.sub_opt2_txt2{
    color: #222224;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
}
.sub_form_butt{
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center
}
.email-request__input{
    width: 256px;
    height: 49px;
    background-color: #E1E1E1;
    border: none;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
}
.sub_but{
    width: 100px;
    height: 49px;
    background-color: #F16D7F;
    color: #FFF;
    border: none;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;

}

.rights{
    background-color: #222224; 
    height: 79px;
    display: flex;
    justify-content: center;
}

.rights_foot{
    width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    
}

.r_foot_text{
    color: #FBFBFB;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.but_foot{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1px
}

.button_foot{
    height: 32px;
    width: 32px;
}
.insta:hover{
    background-color:#F16D7F;
}
.insta-f:hover{
    fill:white;
}

@media screen and (max-width: 1439px) {

    .header_bg{
        height: 74px;
    }
    .header{
        max-width: 100%;
        margin-left: 32px;
        margin-right: 40px;
    }
    .main_section_bg{
        height: 367.567px;
        max-width: 100%;
    }

    .main_text1{
        color: #222;
        font-family: Lato;
        font-size: 44px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }
    .main_text2{
        color: #222;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .main_text3{
        color: #F16D7F;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .main_bdr_txt{
        margin-left: 39px;
        width: 320px;
    }
    .main_section{
        max-width: 1439px;
    }
    .choose_option{
        max-width: 100%;
        margin-left: 16px;
        margin-right: 16px;
        gap: 19px;
    }
    .shop_items{
        max-width: 100%;
        margin-top: 48px;
        margin-left: 16px;
        margin-right: 16px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr) ;
        gap: 16px;
        height: 2350px;
    }
    .sh_item{
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    .delivery_bg{
        max-width: 100%;
    }
    .subscribe_bg{
        max-width: 100%;
    }
    .rights{
        max-width: 100%;
    }

}

@media screen and (max-width: 767px) {
    .main_picture{
        display: none;
    }

    .main_section{
        width: 1140px;
        display: flex;
        justify-content: center;
        align-items: center;    
        
    }
    .header_menu::after{
        display: none;
    }    

    .choose_option{
        max-width: 100%;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 65px;
        display: flex;
        gap: 32px;
        flex-direction: column;
     
    }

    
    .shop_items{
        max-width: 100%;
        margin-top: 48px;
        margin-left: 16px;
        margin-right: 16px;
        display: flex;
        gap: 16px;
        flex-direction: column;
        height: 5800px;
    }

    .delivery_bg{
        max-width: 100%;
        height: 650px;
    }


    .ch_deliv{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap:0;

    }

    .ch_del_logo{
        margin-top: 48.16px;
        
    }
    .deliv_txt{
        width: 360px;
    }
    .subscribe_bg{
        max-width: 100%;
        height: 614px;
    }
    .subscribe_sec{
        max-width: 100%;
        display: flex;
        flex-direction: column;  

    }
    .sumbsc_img{
        height: 100;
    }
    .rights_foot{
        margin-left: 32px;
        margin-right: 32px;
    }
}

@media screen and (max-width: 610px) {
    .shop_items{
        height: 4700px;
    }
}

@media screen and (max-width: 510px) {
    .shop_items{
        height: 4400px;
    }
}

@media screen and (max-width: 470px) {
    .shop_items{
        height: 4100px;
    }
}

@media screen and (max-width: 410px) {
    .shop_items{
        height: 3700px;
    }
}